<section class="footer" data-aos="fade-in" data-aos-duration="4000">
    <div class="rectangle">
        <span>UI UX Designer</span>
        <span class="midlle-shape"></span>
        <span>Software Engineer</span>
        <span class="midlle-shape"></span>
        <span>UI UX Designer</span>
        <span class="midlle-shape"></span>
        <span>Software Engineer</span>
    </div>

    <div>
        <div class="footer-head" data-aos="fade-in" data-aos-duration="4000">
            <div class="footer-text">
                Let’s <span class="pText"> Connect </span> there
            </div>
            <div class="footer-button">
                <a href="/Project">
                    <div class="primary-button">
                        <div class="View-text">View Projects</div>
                        <div class="View-errow">→</div>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>

    <div class="footer-body" data-aos="fade-in" data-aos-duration="4000">
        <div class="footer-logo">
            <div class="footer-name"  data-aos="slide-up" data-aos-duration="4000"><img src="Resources/CSS/Image/me.png" alt=""><strong>RBThakur</strong></div>
            <p  data-aos="slide-up" data-aos-duration="4000">A Passonate Software Engineer. Turn complex challenges into elegant solutions, always striving to
                push the boundaries of innovation and excellence in software engineering.</p>
            <div class="social-handle handle">
                <a href="https://www.linkedin.com/in/ram-bhagat-thakur/" title="LinkedIn" target="_blank"
                    rel="noopener noreferrer"><img src="Resources/CSS/Image/linkedin.png" alt="LinkedIn"></a>
                <a href="https://github.com/ram-bhagat-thakur/" title="GitHub" target="_blank"
                    rel="noopener noreferrer"><img src="Resources/CSS/Image/github.png" alt="github"></a>
                <a href="https://www.facebook.com/ram.bhagat.thakur11" title="Facebook" target="_blank"
                    rel="noopener noreferrer"><img src="Resources/CSS/Image/facebook.png" alt="facebook"></a>
                <a href="https://x.com/Ram_Bhagat_Thkr" title="Twitter" target="_blank" rel="noopener noreferrer" ><img
                        src="Resources/CSS/Image/twitter.png" alt="Twitter"></a>
                <a href="https://instagram.com/ram.bhagat.thakur" title="Instagram" target="_blank"
                    rel="noopener noreferrer"><img src="Resources/CSS/Image/instagram.png" alt="Instagram"></a>
            </div>
        </div>
        <div class="footer-navigation" data-aos="slide-up" data-aos-duration="4000">
            <ul>
                <li>
                    <h2>Navigation</h2>
                </li>
                <li  data-aos="slide-up" data-aos-duration="4000"><a href="/">Home</a></li>
                <li  data-aos="slide-up" data-aos-duration="4000"><a href="/Education">Eduation</a></li>
                <li  data-aos="slide-up" data-aos-duration="4000"><a href="/Experience">Experience</a></li>
                <li  data-aos="slide-up" data-aos-duration="4000"><a href="/Project">Projects</a></li>
            </ul>
        </div>
        <div class="footer-navigation" data-aos="slide-up" data-aos-duration="4000">
            <ul>
                <li>
                    <h2>Contact</h2>
                </li>
                <li data-aos="slide-up" data-aos-duration="4000">+91 9142839527</li>
                <li data-aos="slide-up" data-aos-duration="4000">mtjiff@gmail.com</li>
                <li data-aos="slide-up" data-aos-duration="4000">Sandip University, Madhubani, Bihar-847235</li>
            </ul>
        </div>
    </div>
    <div class="footer-rectangle">
        Copyright &copy;<span> Ram Bhagat Thakur </span> All Rights Reserved.
    </div>
</section>
</main>
<script src="Vendor\JS\jquery-ui.css"></script>
<script src="Vendor\JS\jquery-ui.js"></script>
<script src="Vendor\JS\jquery-ui.min.css"></script>
<script src="Vendor\JS\jquery-ui.min.js"></script>
<script src="Vendor\JS\jquery-ui.structure.css"></script>
<script src="Vendor\JS\jquery-ui.structure.min.css"></script>
<script src="Vendor\JS\jquery-ui.theme.css"></script>
<script src="Vendor\JS\jquery-ui.theme.min.css"></script>
<script src="Vendor\JS\jquery.js"></script>
<script src="Resources/JS/script.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>