<div class="social-handle handle">
    <a href="https://www.linkedin.com/in/ram-bhagat-thakur/" title="LinkedIn" target="_blank" rel="noopener noreferrer" data-aos="slide-left" data-aos-duration="4000"><img src="Resources/CSS/Image/linkedin.png" alt="LinkedIn"></a>
    <a href="https://github.com/ram-bhagat-thakur/" title="GitHub" target="_blank" rel="noopener noreferrer" data-aos="slide-left" data-aos-duration="4000"><img src="Resources/CSS/Image/github.png" alt="github"></a>
    <a href="https://www.facebook.com/ram.bhagat.thakur11" title="Facebook" target="_blank" rel="noopener noreferrer" data-aos="slide-left" data-aos-duration="4000"><img src="Resources/CSS/Image/facebook.png" alt="facebook"></a>
    <a href="https://x.com/Ram_Bhagat_Thkr" title="Twitter" target="_blank" rel="noopener noreferrer" data-aos="slide-left" data-aos-duration="4000"><img src="Resources/CSS/Image/twitter.png" alt="Twitter"></a>
    <a href="https://instagram.com/ram.bhagat.thakur" title="Instagram" target="_blank" rel="noopener noreferrer" data-aos="slide-left" data-aos-duration="4000"><img src="Resources/CSS/Image/instagram.png" alt="Instagram"></a>
</div>