<%- include('partials/Header'); -%>

    <section class="ed-header">
        <div class="head-content">
            <div class="ed-left-head" data-aos="fade-in">
                <img src="Resources/CSS/Image/Education.png" alt="">
            </div>
            <div class="ed-right-head">
                <h2 data-aos="fade-in">Education </h2>
                <div class="after"></div>
                <h3 data-aos="fade-in">Basic Qualifications & CertifCertification</h3>
                <div data-aos="fade-in">
                    <div class="social-handle handles">
                        <a href="https://www.linkedin.com/in/ram-bhagat-thakur/" title="LinkedIn" target="_blank"
                            rel="noopener noreferrer"><img src="Resources/CSS/Image/linkedin.png" alt="LinkedIn"></a>
                        <a href="https://github.com/ram-bhagat-thakur/" title="GitHub" target="_blank"
                            rel="noopener noreferrer"><img src="Resources/CSS/Image/github.png" alt="github"></a>
                        <a href="https://www.facebook.com/ram.bhagat.thakur11" title="Facebook" target="_blank"
                            rel="noopener noreferrer"><img src="Resources/CSS/Image/facebook.png" alt="facebook"></a>
                        <a href="https://x.com/Ram_Bhagat_Thkr" title="Twitter" target="_blank"
                            rel="noopener noreferrer"><img src="Resources/CSS/Image/twitter.png" alt="Twitter"></a>
                        <a href="https://instagram.com/ram.bhagat.thakur" title="Instagram" target="_blank"
                            rel="noopener noreferrer"><img src="Resources/CSS/Image/instagram.png" alt="Instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ed-body">
        <hr>
        <h2 class="degree" data-aos="slide-up" data-aos-duration="4000">Degrees Received
            <hr>
        </h2>


        <!-- College Card 1-->

        <div class="college-logo" data-aos="flip-up">
            <div class="logo-card"><a href="">
                    <div class="tools-margin">
                        <img src="Resources/CSS/Image/github.png" alt="">
                    </div>
                </a>
            </div>
            <div class="college-card">
                <div class="college-details">
                    <div class="college-card-head">
                        <div class="cName">
                            <h2>Sandip University Sijaul</h2>
                            <span>2020 To 2024</span>
                        </div>
                        <h3>B.Tech. in Computer Engineering</h3>

                    </div>
                    <div class="college-card-body">
                        <ul>
                            <li>I have studied basic software engineering subjects like DS, Algorithms, DBMS, OS, CA, AI
                                etc.</li>
                            <li>I was selected for Merit cum Means Scholarship which is given to top 10% of students in
                                college. I have received award from respected director for consistently best performance
                                in academics.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- College Card 2-->

        <div class="college-logo" data-aos="flip-up">
            <div class="logo-card"><a href="">
                    <div class="tools-margin">
                        <img src="Resources/CSS/Image/github.png" alt="">
                    </div>
                </a>
            </div>
            <div class="college-card">
                <div class="college-details">
                    <div class="college-card-head">
                        <div class="cName">
                            <h2>Sandip University Sijaul</h2>
                            <span>2020 To 2024</span>
                        </div>
                        <h3>B.Tech. in Computer Engineering</h3>

                    </div>
                    <div class="college-card-body">
                        <ul>
                            <li>I have studied basic software engineering subjects like DS, Algorithms, DBMS, OS, CA, AI
                                etc.</li>
                            <li>I was selected for Merit cum Means Scholarship which is given to top 10% of students in
                                college.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- College Card 3-->

        <div class="college-logo" data-aos="flip-up">
            <div class="logo-card"><a href="">
                    <div class="tools-margin">
                        <img src="Resources/CSS/Image/github.png" alt="">
                    </div>
                </a>
            </div>
            <div class="college-card">
                <div class="college-details">
                    <div class="college-card-head">
                        <div class="cName">
                            <h2>Sandip University Sijaul</h2>
                            <span>2020 To 2024</span>
                        </div>
                        <h3>B.Tech. in Computer Engineering</h3>

                    </div>
                    <div class="college-card-body">
                        <ul>
                            <li>I have studied basic software engineering subjects like DS, Algorithms, DBMS, OS, CA, AI
                                etc.</li>
                            <li>I was selected for Merit cum Means Scholarship which is given to top 10% of students in
                                college. </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Certification">
        <hr>
        <h2 data-aos="slide-up" data-aos-duration="4000">Certifications<hr></h2>
        
        
        <div class="all-card">
        <!-- Certification Card 1-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 2-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 3-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 4-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 5-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 6-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 7-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>

        <!-- Certification Card 8-->
        <div class="Certification-card" data-aos="flip-up">
            <div class="card-head">
                <div class="card-background">
                <img src="Resources/CSS/Image/github.png" alt="">
            </div></div>
            <div class="card-body">
                <h2>Machine Learning</h2>
                <h3>- RBThakur</h3>
            </div>
        </div>
    </div>
    </section>


    <%- include('partials/footer'); -%>