<%- include('partials/Header'); -%>

  <section class="experience">
    <div class="experience-header">
      <div class="header-left" data-aos="flip-up">
        <img src="Resources/CSS/Image/experience.png" alt="">
      </div>
      <div class="heade-right">
        <h2 data-aos="flip-up">Experience</h2>
        <div class="after"></div>
        <h3 data-aos="flip-up">(<span>Work, </span>Internship and Volunteership)</h3>
        <span data-aos="flip-up">I’m currently learning Machine Learning, Deep Learning, Design, and Software Architecture. I enjoy exploring new technologies and actively take part in open-source communities and events to learn and grow.</span>
        
      </div>
    </div>
  </section>



  <section class="accordino">
    <h2 class="view-ex" data-aos="fade-in"><hr>View my <span>Experience </span>here</h2>
    <hr>

    <!--First Section-->
    <div class="accordion" data-aos="flip-up">
      <div class="accordion-item">
        <div class="accordion-top">
          <h2>Freelance & Personal Projects</h2>
          <hr>
          <div class="description">I have worked on several personal and freelance projects, applying my skills in web
            development and
            branding.</div>
          <button class="accordion-header">Click Here to View
            <span class="dropdown-arrow">&#9660;</span>
          </button>
        </div>

        <div class="accordion-content">
          <!--First experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>

<!--
            <div class="middle-side">
              <div class="linking">hello</div>
            </div>
 -->

            <div class="right-side">
              <div class="college-details">
                <div class="college-card-head">
                  <div class="cName">
                    <h2>Software Engineer</h2>
                    <div class="date">June 2023 - Present</div>
                  </div>
                  <h3>MicroSoft</h3>
                  <div class="location">San Jose, CA, USA</div>
                </div>
                <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                  DBMS, OS, CA, AI
                  etc.
                </div>
              </div>
            </div>
          </div>

          <!--Second experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--third experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Second Section-->
    <div class="accordion" data-aos="flip-up">
      <div class="accordion-item">
        <div class="accordion-top">
          <h2>Technical Skills Demonstrated</h2>
          <hr>
          <div class="description">I’m learning technologies like JavaScript, MongoDB, and EJS. I’m also improving in debugging, responsive design, and dynamic web features.</div>
          <button class="accordion-header">Click Here to View
            <span class="dropdown-arrow">&#9660;</span>
          </button>
        </div>

        <div class="accordion-content">
          <!--First experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Second experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--third experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!--Third Section-->

    <div class="accordion" data-aos="flip-up">
      <div class="accordion-item">
        <div class="accordion-top">
          <h2>Learning & Certification</h2>
          <hr>
          <div class="description">I actively expand my knowledge by exploring courses, tutorials, and coding
            challenges. My focus is on database management, web technologies, and best practices that enhance
            development efficiency.</div>
          <button class="accordion-header">Click Here to View
            <span class="dropdown-arrow">&#9660;</span>
          </button>
        </div>

        <div class="accordion-content">
          <!--First experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Second experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--third experience card-->
          <div class="accodino-box" data-aos="fade-in">
            <div class="logo-card">
              <a href="">
                <div class="tools-margin">
                  <img src="Resources/CSS/Image/github.png" alt="">
                </div>
              </a>
            </div>


            <div class="middle-side">
              <div class="linking"></div>
            </div>


            <div class="right-side">
              <div class="college-card">
                <div class="college-details">
                  <div class="college-card-head">
                    <div class="cName">
                      <h2>Software Engineer</h2>
                      <div class="date">June 2023 - Present</div>
                    </div>
                    <h3>MicroSoft</h3>
                    <div class="location">San Jose, CA, USA</div>
                  </div>
                  <div class="college-card-body">I have studied basic software engineering subjects like DS, Algorithms,
                    DBMS, OS, CA, AI
                    etc.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer'); -%>