<%- include('partials/Header'); -%>
<!-- Loader with logo -->
    <div id="loader">
        <img src="Resources/CSS/Image/me1.png" alt="Logo" />
        <div id="mainContent">
            <span>Welcome to My Portfolio!!</span>
        </div>
    </div>

    <!-- website content -->

    <header>
        <div class="header">
            <div class="header-left" data-aos="slide-up" data-aos-duration="4000">
                <div class="hello" data-aos="slide-up" data-aos-duration="4000">Hello There</div>
                <div class="head-text">
                    <div data-aos="slide-up" data-aos-duration="4000">I'm <span class="name">Ram Bhagat Thakur</span></div>
                    <span id="occupasion" data-aos="slide-up" data-aos-duration="4000">Software Engineer</span><br>
                    <span data-aos="slide-up" data-aos-duration="4000">Based in India.</span>
                </div>
                <p class="head-body" data-aos="slide-up" data-aos-duration="4000">A Passonate Software Engineer. Always striving to push the boundaries excellence in
                    software engineering.
                </p>
                <%- include('partials/socialLink'); -%>
                    <div class="button">
                        <a href="/Project">
                        <div class="primary-button">
                            <div class="View-text">View my portfolio</div>
                            <div class="View-errow">→</div>
                        </div></a>

                        <a href="/Contact">
                        <div class="secondry-button">
                            Hire Me
                        </div>
                    </a>
                    </div>
            </div>
            <div class="header-right RBT-pic" data-aos="fade-in">
                <div>
                    <img src="Resources/CSS/Image/Group 248.png" alt="RBThakur pic">

                    <!--
                    <div class="middle-side">
                        <div class="tag">
                            Software Engineer
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="rectangle">
            <span>UI UX Designer</span>
            <span class="midlle-shape"></span>
            <span>Software Engineer</span>
            <span class="midlle-shape"></span>
            <span>UI UX Designer</span>
            <span class="midlle-shape"></span>
            <span>Software Engineer</span>
        </div>
    </header>

    <section class="Skills" >
        <div >
            <p data-aos="fade-in" data-aos-duration="4000"><span class="What" data-aos="fade-in" data-aos-duration="4000">-What I Do..?</span> <br>
                <span class="skill-text">Skills,</span> I Gained through <br>
                Courses & Self Learning
            </p>
        </div>




        <div class="Skills-card" data-aos="fade-in" data-aos-duration="4000">
            <div class="wrapper">
                <i id="left" class="View-errow  left">←</i>
                <ul class="carousel">
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="img"><img src="Resources/CSS/Image/github.png" alt="" draggable="false"> </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing Scalable production models for deep learning solutions.</span>

                        <a href="/Project">
                            <div class="Related">Related Projects<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                </ul>
                <i id="right" class="View-errow right">→</i>
            </div>
        </div>
    </section>

    <section class="personal-info header" data-aos="fade-in" data-aos-duration="4000">
        <div class="info-left header-left" data-aos="fade-in" data-aos-duration="4000">
            <img src="Resources\CSS\Image\profile-pic (2).png" alt="RBThakur Image">
        </div>
        <div class="header-right info-right">
            <div class="about-me">-About Me </div>
            <div class="who about">Who is <span class="name">Ram Bhagat Thakur?</span></div>

            <div class="details">A Passonate Software Engineer. Turn complex challenges into elegant solutions, always
                striving to push the boundaries of innovation and excellence in software engineering.</div>
            <div class="overview">
                <div class="completed-project" data-aos="zoom-in-up">
                    100 +
                    <p>Project Completed</p>
                </div>
                <div class="company"  data-aos="zoom-in-up">
                    2 +
                    <p>Years of Experience</p>
                </div>
            </div>


            <div class="button resume">
                <a href=""  data-aos="zoom-in-up">
                <div class="primary-button">
                    <div class="View-text">View My Resume</div>
                    <div class="View-errow">→</div>
                </div>
            </a>
                <a href="/Contact"  data-aos="zoom-in-up">
                <div class="secondry-button info-button">
                    Hire Me
                </div>
            </a>
            </div>
        </div>
    </section>



    <section class="Project">
        <div class="Project-head" data-aos="fade-in" data-aos-duration="4000">
            <div class="portfolio-text">
                <span class="Highlights">-Portfolio Highlights </span><br>
                <span class="pText">Project </span> I Have Completed
            </div>
            <a href="/Project" data-aos="fade-in" data-aos-duration="4000">
                <div class="portfolio-button">
                    <div class="primary-button">
                        <div class="View-text">View All Projects</div>
                        <div class="View-errow">→</div>
                    </div>
                </div>
            </a>
        </div>



        <div class="Skills-card" data-aos="fade-in" data-aos-duration="4000">
            <div class="wrapper">
                <i id="left" class="View-errow left">←</i>
                <ul class="carousel">
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                    <li class="card">
                        <div class="project-image"><img src="Resources/CSS/Image/github.png" alt="" draggable="false">
                        </div>
                        <h2>
                            Data Science & AI
                        </h2>
                        <span>Developing highly scalable production ready models for various deeplearning and
                            statistical use cases.</span>

                        <a href="/Project-Details">
                            <div class="Related">Read Story<span class="Related-errow">→</span></div>
                        </a>
                    </li>
                </ul>
                <i id="right" class="View-errow right">→</i>
            </div>
        </div>
    </section>

    <section class="award-back">
        <div class="Award" data-aos="fade-in" data-aos-duration="4000">
            <div class="award-text" data-aos="fade-in" data-aos-duration="4000">-Award & Recognition</div>
            <div class="Achievemet-text" data-aos="fade-in" data-aos-duration="4000"><span class="Achievemet">Rewards & Achievemet</span> I Got <br>During My
                College Time</div>
            <div class="Skills-card Project-card" data-aos="fade-in" data-aos-duration="4000">
                <div class="wrapper">
                    <i id="left" class="View-errow left">←</i>
                    <ul class="carousel">
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>
                        </li>
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>

                        </li>
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>

                        </li>
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>

                        </li>
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>

                        </li>
                        <li class="card">
                            <div class="project-image"><img src="Resources/CSS/Image/github.png" alt=""
                                    draggable="false">
                            </div>
                            <h2>
                                Data Science & AI
                            </h2>
                            <span>Developing highly scalable production ready models for various deeplearning and
                                statistical use cases.</span>

                        </li>
                    </ul>
                    <i id="right" class="View-errow right">→</i>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer'); -%>