<%- include('partials/Header'); -%>


    <section class="details-header">
        <div class="project-details">
            <div class="details-left">
                <img src="Resources/CSS/Image/Project detail.png" alt="">
            </div>
            <div class="details-right">
                <h2>Data Science & AI</h2>
                <div class="after"></div>
                <div class="details-body">The solution demonstrated innovation in handling complex data, ultimately
                    improving accuracy and automation for key processes.</div>
            </div>
        </div>

        <div class="details-section">
            <h2> Project Overview (Introduction)</h2>
            <h3>(Timeline : 02-08-2025 to 02-10-2025)</h3>
            <hr>
            <div class="video">
                <div class="Introduction">
                    <p>This project involved leveraging data science and artificial intelligence to
                        deliver actionable insights and predictive analytics for [client/industry name]. By analyzing
                        large
                        datasets, building machine learning models, and visualizing results, we empowered smarter
                        decision-making and enhanced operational efficiency. The solution demonstrated innovation in
                        handling complex data, ultimately improving accuracy and automation for key processes.
                    </p>
                </div>
                <div class="video-image">
                    <div class="video-section">
                        <video controls>
                            <source src="Vendor/video/animation.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>

            <h2>Tools & Technologies</h2>
                <h3>(Used in This Project)</h3>
            <hr>

            <div class="technology-used">
                <div class="tools">
                    <div class="tools-icon">
                        <div class="tools-margin">
                            <div class="tech-back"><img src="Resources/CSS/Image/github.png" alt=""></div>
                            <div class="tech-back"><img src="Resources/CSS/Image/github.png" alt=""></div>
                            <div class="tech-back"><img src="Resources/CSS/Image/github.png" alt=""></div>
                            <div class="tech-back"><img src="Resources/CSS/Image/github.png" alt=""></div>
                            <div class="tech-back"><img src="Resources/CSS/Image/github.png" alt=""></div>
                        </div>
                    </div>
                    
                    <h3><div class="h3">In this project, cutting-edge tools and technologies were used to ensure efficient data
                        processing,
                        accurate model building, and seamless deployment. The combination of robust programming
                        languages
                        and powerful machine learning frameworks enabled the creation of innovative solutions that
                        addressed
                        complex data challenges. These technologies played a vital role in driving the success of the
                        project.
                    </div></h3>
                    
                </div>
            </div>
            <div class="button ">
                <div class="primary-button">
                    <div class="View-text"><a href="https://github.com/ram-bhagat-thakur/" target="_blank"
                            rel="noopener noreferrer">View On GitHub</div>
                    <div class="View-errow">→</div></a>
                </div>
            </div>
        </div>

    </section>






    <%- include('partials/footer'); -%>