<%- include('partials/Header'); -%>


    <section class="project-head">
        <div class="left-project-head" data-aos="fade-in" ">
            <img src="Resources/CSS/Image/project.png" alt="">
        </div>
        <div class="right-project-head">
            <h2 data-aos="slide-up" ">Things I've Built</h2>
            <div class="after"></div>
            <div class="Explore" data-aos="slide-up" ">Explore my collection of creative and impactful projects. Each work showcases
                thoughtful design, innovation, and attention to detail.</div>
        </div>
    </section>

    <section class="project-body">
        <hr>
        <h2 class="My" data-aos="slide-up" ">My Projects</h2>
        <hr>
        <div class="all-project">
            <div class="project-box" data-aos="flip-up" ">
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
            <div class="project-box" data-aos="flip-up" >
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
            <div class="project-box" data-aos="flip-up" >
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
            <div class="project-box" data-aos="flip-up" >
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
            <div class="project-box" data-aos="flip-up" >
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
            <div class="project-box" data-aos="flip-up" >
                <div class="box-padding">
                    <img src="Resources/CSS/Image/Education.png" alt="">
                    <h2>Data Science & AI</h2>
                    <div class="card-description">Developing highly scalable production ready models for various
                        deeplearning and statistical use cases.</div>
                    <hr>
                    <a href="/Project-Details">
                        <div class="view-details">View Details<span class="go">→</span></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div class="project-button" data-aos="zoom-in-up">
        <div class="button ">
            <div class="primary-button">
                <div class="View-text"><a href="https://github.com/ram-bhagat-thakur/" target="_blank"
                        rel="noopener noreferrer">View GitHub Projects</div>
                <div class="View-errow">→</div></a>
            </div>
        </div>
    </div>


    <%- include('partials/footer'); -%>